name: Update

"on": 
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:

  update:
    runs-on: ubuntu-latest

    permissions:
      actions: write
      checks: write
      contents: write

    steps:

      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT }}

      - name: Get latest OCS git tag
        uses: dmitriysafronov/find-latest-tag@v1.0.0
        id: ocs-version
        with:
          repo: https://gitlab.com/openconnect/ocserv.git
          tag: '[0-9]{1,}.[0-9]{1,}.[0-9]{1,}'

      - name: Save latest OCS git tag to file in repo
        run: |
          echo "${{ steps.ocs-version.outputs.tag }}" > .ocs-version

      - name: Commit all changed files back to the repository
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Automated Update. Git: ${{ steps.ocs-version.outputs.tag }})"
          file_pattern: '.ocs-version'
